<h2>Recent Builds</h2>
<div class="builds">
<%- builds.each do |build| -%>
  <div>
    <a href="<%= build.url %>"><%= build.name %> PR #<%= build.number %></a>
    <a href="/builds/<%= build.id %>">Built at <%= build.updated_at %></a>
    <%= build.exit_status == 0 ? "Success" : "Failure" %>
  </div>
<%- end -%>
</div>