<h2>Builds for <a href="{{.ProjectLink}}">{{.Name}}</a></h2>
<table class="builds">
  <thead>
    <tr>
      <th>Created</th>
      <th>Status</th>
      <th>Commit</th>
    </tr>
  </thead>
  <tbody>
    {{range .Builds}}
      <tr class="{{.Status | ToClass}}">
        <td class="time"><time>{{.CreatedAt.Time | FormatTime}}</time></td>
        <td>{{.Status}}</td>
        <td class="buildID"><a href="/builds/{{.ProjectName}}/{{.ID}}">{{.Hook.PullRequest.Head.Sha}}</a></td>
      </tr>
    {{end}}
  </tbody>
</table>
